@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: azure;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 50px;
}

header h1 {
    color: #333;
}

main {
    flex: 1; /* zajmuje całą pozostałą wysokość */
    display: flex;
    justify-content: center; /* centrowanie poziome */
    align-items: center; 
}

.plany {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.karta {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 270px; /* szerokość każdej karty */
    background-color: white;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.karta > p {
    text-align: left;
    font-family: "Lato";
}

.karta-czwarta {
    background-color: lightsteelblue;
}

.plus {
    text-transform: uppercase;
    font-size: 11px;
}

.zaawansowany {
    background-color: gainsboro;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 5px;
    padding: 2px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}

mark{
    font-size: 12px;
    padding: 0 3px;
}

.przycisk {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.przycisk > button {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
}

.produkt > p {
    font-size: 14px;
    font-family: "Lato";
    color: #333;
}

.produkt > p:nth-child(1) {
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.3px;
}

.produkt > ul {
    font-size: 14px;
    font-family: "Lato";
    color: #333;
}

hr {
    border: 1px solid rgb(0, 0, 0, 0.3);
    margin: 8px auto;
    width: 90%;
}

.nazwa {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.cena {
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.cena > span {
    font-size: 14px;
}

.info {
    color: #333;
    font-size: 12px;
    margin-bottom: 25px;
}

ul {
    font-family: "Lato";
    list-style-type: none;
    margin: 20px 0;
}

li > p {
    text-decoration: none;
}
